* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  display: inline-block;
  margin: 10px 20px;
  padding: 15px 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 40px 40px #ff00ff inset, 0 0 0 0 #ff00ff;
  box-shadow: 0 0 40px 40px #ff00ff inset, 0 0 0 0 #ff00ff;
  -webkit-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

button:hover {
  color: #ff00ff;
  -webkit-box-shadow: 0 0 10px 0 #ff00ff inset, 0 0 10px 4px #ff00ff;
  box-shadow: 0 0 10px 0 #ff00ff inset, 0 0 10px 4px #ff00ff;
}
