* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  position: relative;
  display: inline-block;
  width: 150px;
  margin: 10px;
  padding: 20px 0;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  color: blue;
  box-shadow: 0 0 0 2px blue;
  overflow: hidden;
}

button span {
  position: relative;
  z-index: 5;
  font-family: "Montserrat", sans-serif;
}

button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

button:before {
  background: rgb(142, 245, 251);
  transform: translateX(-100%);
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

button:after {
  background: rgb(0, 221, 233);
  transform: translateX(100%);
  transition: transform 0.3s cubic-bezier(0.16, 0.73, 0.58, 0.62) 0.3s;
}

button:hover:before,
button:hover:after {
  transform: translateX(0);
}
