* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  position: relative;
  display: inline-block;
  margin: 10px 20px;
  padding: 10px 30px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #0011ff;
  border: 2px solid #0011ff;
  border-radius: 8px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}

button:before {
  content: "";
  position: absolute;
  top: -8px;
  left: -75px;
  width: 50px;
  height: 50px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(255, 255, 255, 0.1)),
    to(rgba(255, 255, 255, 0.5))
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
  -webkit-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  transform: skewX(-45deg);
}

button:hover {
  color: #fff;
  background: #0011ff;
}

button:hover:before {
  left: 150px;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
